*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2b7296;
  background-image: url("forest.jpg");
  background-position: center; 
}

.calculator-grid {
  padding: 30px 0 0;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(6, 100px);

}

/*Select all buttons inside the grid*/
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, .80);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .98);
}

#btn-clear,
#btn-equal {
  grid-column: span 2;
}

#btn-equal {
  background-color: rgba(120, 183, 156, 0.8);
}

#btn-equal:hover {
  background-color: rgba(120, 183, 156, 0.98);
}

#calc-display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

#calc-display .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

#calc-display .current-operand {
  color: white;
  font-size: 2.5rem;
} 

.calc-display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.calc-display .previous-operand {
  color: rgba(255, 255, 255, .65);
  font-size: 1.5rem;
}

.calc-display .current-operand {
  color: white;
  font-size: 2.5rem;
} 